service: timers2

frameworkVersion: '2 || 3'

custom:
  tableName: 'timers2-${self:provider.stage}'
  wsgi:
    app: timers2.app.app

provider:
  name: aws
  runtime: python3.9
  lambdaHashingVersion: '20201221'
  stage: dev
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - Fn::GetAtt: [ Timers2Table, Arn ]
  environment:
    TABLE_NAME: ${self:custom.tableName}
    SECRET_KEY: ${ssm:/timers2/${self:provider.stage}/secret-key}
    BASE_URL: { "Fn::Join" : ["", ["https://", { "Ref" : "ApiGatewayRestApi" }, ".execute-api.${self:provider.region}.amazonaws.com/${self:provider.stage}" ] ] }
    OIDC_CLIENT_ID: ${ssm:/timers2/${self:provider.stage}/oidc-client-id}
    OIDC_CLIENT_SECRET: ${ssm:/timers2/${self:provider.stage}/oidc-client-secret}

functions:
  api:
    handler: wsgi_handler.handler
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY
  import-esi:
    handler: timers2.import_esi.handler
    events:
      - schedule: rate(5 minutes)
  import-systems:
    handler: timers2.import_systems.handler
    events:
      - schedule: rate(1 day)

plugins:
  - serverless-wsgi
  - serverless-python-requirements

resources:
  Resources:
    Timers2Table:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
          - AttributeName: GSI1PK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: GSI1
            KeySchema:
              - AttributeName: GSI1PK
                KeyType: HASH
              - AttributeName: SK
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:custom.tableName}
        TimeToLiveSpecification:
          AttributeName: TTL
          Enabled: true
